
{% extends "ecommerce_app/base1.html" %}
{% load static %}
{% block title %}
    About |
{% endblock %}


{% block content %}
  <main id="main" class="main-page">

    <!--==========================
      Speaker Details Section
    ============================-->
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>About Us</h2>
         <p>The NileBrand</p>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="details">
              <h2>The NileBrand</h2>
              <p>(The) Nile Brand service is focused on providing products from Africans that are
                both based in the USA and in African countries. Their goal is not to just provide
                products but to educate people on Africa and its history. We are coming to a critical moment as the generations grow they are likely to have less and less knowledge of their roots, where they come from and what the culture of their parents
                and their parents meant.</p>
                <h2>We Help Empower ROSS</h2>
              <p>The Nile Brand celebrates and embraces the unique purpose of all South Sudanese. The world's youngest nation reflects the shared aspirations of millions of South Sudanese to move past decades of war and build a peaceful, equitable country. This Event was founded in June 2021 as a self-development platform devoted to celebrating South Sudan the development, women empowerment and South Sudan Independence. The South Sudanese Independence Celebration and Network Soiree initially began as a one day event with over 20 people in attendance. Due to the presentation of curated topics, an engaging array and networking opportunities, it now spans 2 days with a seminar and will host many leaders from across the country.</p>

          </div>
        </div>

          <div class="col-md-6">
            <div class="details">
                <h2>Networking & Entrepreneurship </h2>
                <p>The South Sudanese Independence Celebration and Network Soiree embraces and enables entrepreneurship alongside community support. With our networking opportunities, attendees will gain a community of supportive leaders and have either started or expanded their profession or businesses. Below are a few businesses that have started due to support from this conference.</p>
                <h2>Philanthropy</h2>
                  <p>• Within the upcoming 2023, The Nile Brand is focusing on its mission to asses South Sudan to provide as needed in underprivileged communities. <br>
                    •	Using proceeds from the 2022 South Sudanese Independence Celebration and Network Soiree, for purchased clothing, school supplies and sanitary pads for an identified children/youth center in South Sudan. <br>
                    •	As members who attend The South Sudanese Independence Celebration and Network Soiree leaders will pledge to collect charitable items in the form of clothing donations and canned goods for those in need in their communities.

                    </p>
                </div>



          </div>

        </div>
      </div>

    </section>
</main>

    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>For Receiving regular updates subscribe to the Newsletter</p>
        </div>

          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your Email">
            </div>
            <div class="col-auto">
              <button type="submit">Subscribe</button>
            </div>
          </div>

      </div>
    </section>



    {% endblock content %}
