{% extends 'ecommerce_app/base.html' %}
{% load static %}
{% block content %}


 <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The <br><span>NileBrand</span></h1>
      <p class="mb-4 pb-0">South Sudanese Independence and Network Soiree | Saturday 9 July, 2022</p>
      <!-- <a href="https://www.instagram.com/tv/CRRSx60DwBe/?utm_source=ig_web_copy_link" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a> -->
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>South Sudanese Independence and Network Soiree</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Oro Lounge 2875 Brookdale Dr Brookdale Park MN 55444</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>Saturday<br>9 July,2022 | 6:00PM To 2:00AM</p>
          </div>
        </div>
      </div>
    </section>


    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>Here is our event schedule</p>
        </div>

        <ul class="nav nav-tabs" role="tablist" style="margin-top: 0%;">
          <li class="nav-item" style="padding: 1%; margin-bottom: 2px;" >
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
          </li>
          <li class="nav-item"style="padding: 1%; margin-bottom: 2px;" >
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
          </li>
          <li class="nav-item"style="padding: 1%; margin-bottom: 2px;" >
            <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3</a>
          </li>
        </ul>

        <h3 class="sub-heading">2 Day Saturday/Sunday Event in Minneapolis Minnesota </h3>

        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            <div class="row schedule-item">
              <div class="col-md-2"><time>8pm-11pm</time></div>
              <div class="col-md-10">
                <h4>Welcoming - Friday July 8, 2022</h4>
                <p>Location 1: Top Golf 6420 Camden Ave N Brooklyn Center. MN 55430 <br>
                  Location 2: Graze | Provisions + Libations 520 N 4th St, Minneapolis, MN 55401
                  Final Location TBD
                  </p>
              </div>
            </div>
          </div>
          <!-- End Schdule Day 1 -->
          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

            <div class="row schedule-item">
              <div class="col-md-2"><time>12pm-3pm</time></div>
              <div class="col-md-10">
                <h4> Workshop - Saturday, July 9, 2022  </h4>
                <p>Location: The Thinking Spot 3311 County Road 101, Suite #4, Wayzata, MN 55391
                  
                  </p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>6pm-9pm </time></div>
              <div class="col-md-10">
                <h4>Independence Network Soiree - Saturday, July 9, 2022 </h4>
                <p>Location: Oro Lounge 2875 Brookdale Dr. Brooklyn Park MN 55444
                 
                  </p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>9pm-2am</time></div>
              <div class="col-md-10">
                <h4>Independence Celebration - Saturday, July 9, 2022</h4>
                <p>Location: Oro Lounge 2875 Brookdale Dr. Brooklyn Park MN 55444</p>
              </div>
            </div>
          </div>

          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show" id="day-3">

              <div class="row schedule-item">
                <div class="col-md-2"><time>12:00 PM - 2:00 PM </time></div>
                <div class="col-md-10">
                  <h4>Networking Boat Brunch - Sunday July 10, 2022</h4>
                  <p>Al & Alma's Supper Club and Charter Cruises 5201 Piper Road Mound, Minnesota 55364
                  </p>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 2 -->

        </div>

      </div>

    </section>
     <!--==========================
      Buy Ticket Section
    ============================-->
     <section id="buy-tickets" class="section-with-bg wow fadeInUp" style="margin: 0 auto">
        <div class="container">

          <div class="section-header">
            <h2>Purchase your Tickets</h2>
            <p>ALL TICKET SALES ARE FINAL, NO REFUNDS!!</p>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-5 mb-lg-0">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">{{ all_products.0.name }}</h5>
                  <h6 class="card-price text-center">${{ all_products.0.price }}</h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Flyer</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Invitation for Event</li>
                    <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Soiree Network Ticket</li>
                    <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Two-Day Network Ticket</li>



                  </ul>
                  <hr>
                  <div class="text-center">
                    <a href="{% url 'product_detail' 1 'item-1' %}" type="button" class="btn"  >PREORDER</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-muted text-uppercase text-center">{{ all_products.1.name }}</h5>
                  <h6 class="card-price text-center">${{ all_products.1.price }}</h6>
                  <hr>
                  <ul class="fa-ul">
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>One-Day Soiree Network Ticket</li>
                    <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Friday</li>
                    <li><span class="fa-li"><i class="fa fa-check"></i></span>Saturday</li>
                    <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Sunday</li>
                  </ul>
                  <hr>
                  <div class="text-center">
                   <a href="{% url 'product_detail' 2 'item-2' %}" type="button" class="btn"  >PREORDER</a>
                  </div>

                </div>
              </div>
            </div>
        
          </div>

        </div>

        <!-- Modal Order Form -->
        <div id="buy-ticket-modal" class="modal fade">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Buy Tickets</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" action="#">
                  <div class="form-group">
                    <input type="text" class="form-control" name="your-name" placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="your-email" placeholder="Your Email">
                  </div>
                  <div class="form-group">
                    <select id="ticket-type" name="ticket-type" class="form-control" >
                      <option value="">-- Select Your Ticket Type --</option>
                      <option value="standard-access">Flyer</option>
                      <option value="pro-access">Regular ticket</option>
                      <option value="premium-access">Vip Ticket</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn">PREORDER</button>
                  </div>
                </form>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </section>
    
    <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event venue location info and gallery</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 venue-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2816.5103818147886!2d-93.32102288502452!3d45.09572097909833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b331ba292df049%3A0xe77fa1e485defc9b!2sOro%20Lounge%20Bar%20And%20Restaurant!5e0!3m2!1sen!2s!4v1652778498940!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8">
                <h3>South Sudanese Independence and Network Soiree - SATURDAY JULY 9, 2022 6-2AM</h3>
                <p>COME OUT AND CELEBRATE THE 11 YEAR ANNIVERSARY OF SOUTH SUDANESE INDEPENDENCE. MIX AND MINGLE WITH LIKE MINDED PEOPLE LOOKING TO COLLABORATE OR SIMPLY NETWORK OVER
                  MUSIC, REFRESHMENTS AND CONVERSATION. <br>
                  Location: Oro Lounge 2875 Brookdale Dr Brookdale Park MN 5544</p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section>

    <!--==========================
      Gallery Section
    ============================-->

    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Check our gallery from the previous events</p>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        <a href="{% static 'ecommerce_app/img/gallery/1-1.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'ecommerce_app/img/gallery/1-1.jpg' %}" alt=""></a>
        <a href="{% static 'ecommerce_app/img/gallery/2-1.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'ecommerce_app/img/gallery/2-1.jpg' %}" alt=""></a>
        <a href="{% static 'ecommerce_app/img/gallery/3-1.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'ecommerce_app/img/gallery/3-1.jpg' %}" alt=""></a>
        <a href="{% static 'ecommerce_app/img/gallery/4-1.jpg' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'ecommerce_app/img/gallery/4-1.jpg' %}" alt=""></a>
        <a href="{% static 'ecommerce_app/img/gallery/5-1.png' %}" class="venobox" data-gall="gallery-carousel"><img src="{% static 'ecommerce_app/img/gallery/5-1.png' %}" alt=""></a>
      </div>

    </section>






    <!--==========================
      Subscribe Section
    ============================-->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>For Receiving regular updates subscribe to the Newsletter</p>
        </div>

          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your Email">
            </div>
            <div class="col-auto">
              <button type="submit">Subscribe</button>
            </div>
          </div>

      </div>
    </section>

  </main>







{% endblock %}
