{% extends "ecommerce_app/base1.html" %}
{% load static %}
{% block title %}
    Product |
{% endblock %}


{% block content %}

  <main id="main" class="main-page">
    <section id="speakers-details" class="wow fadeIn">
      <div class="container">
        <div class="section-header">
          <h2>THE NILE BRAND PRODUCTS</h2>
         <p>Coming Soon</p> <br>
         <p>Lashes are avaliable, Book your orders Now!</p>
      </div>
         <div class="productbody">
           <div class="box1">
    <div class="product-card">
      <div class="productbox">
      <h1 style="text-align: Center; padding:3px;">Blue Nile Lashes</h1>
      <div class="product-pic1"></div>
      <div class="product-colors">
        <span class="blue active" data-color="#7ed6df" data-pic="{% static 'ecommerce_app/img/1.png'%}"></span>
        <span class="green" data-color="#badc58" data-pic="url(2.png)"></span>
        <span class="yellow" data-color="#f9ca24" data-pic="url(3.png)"></span>
        <span class="rose" data-color="#ff7979" data-pic="url(4.png)"></span>
      </div>
      <div class="product-info">
        <div class="product-price">$10</div>
        <a href="mailto:Thenilebrand@gmail.com?subject=Hello%20there&body=Is%20Blue%20Nile%20Lashes%20Available?" class="product-button">Email me</a>
      </div>
    <h3> Description</h3>
    <p>
      Volume: VOLUME WISPY  <br>
      Length: MEDIUM Average  <br>
      Wear: Up to 25 Wears!  <br>
      Materials: Luxury Mink hair, Natural Cotton Band  <br>
      Recommended Use: NIGHT OUT <br>

    </p>
  </div>
    </div>
  </div>
           <div class="box2">
          <div class="product-card">
            <div class="productbox">
            <h1 style="text-align:center">United Lashes  </h1>
            <div class="product-pic2"></div>
            <div class="product-colors">
              <span class="blue active" data-color="#7ed6df" data-pic="url(p2.png)"></span>
              <span class="green" data-color="#badc58" data-pic="url(2.png)"></span>
              <span class="yellow" data-color="#f9ca24" data-pic="url(3.png)"></span>
              <span class="rose" data-color="#ff7979" data-pic="url(4.png)"></span>
            </div>
            <div class="product-info">
              <div class="product-price">$10</div>
              <a href="mailto:Thenilebrand@gmail.com?subject=Hello%20there&body=Is%20United%20Lashes%20Available?" class="product-button">Email me</a>
            </div>
          <h3> Description</h3>
          <p>
            Volume: NATURAL WISPY <br>
            Length: MEDIUM <br>
            Average Wear: Up to 25 Wears!
            Materials: Premium Luxury Mink hair, Natural Cotton Band <br>
            Recommended Use: SOFT GLAM, EVERYDAY LOOKS<br>

          </p>
          </div>
        </div>
         </div>
         <div class="box3">
                <div class="product-card">
                  <div class="productbox">
                  <h1 style="text-align:center">African Map Printed Poster </h1>
                  <div class="product-pic3"></div>
                  <div class="product-colors">
                    <span class="blue active" data-color="#7ed6df" data-pic="url(1.png)"></span>
                    <span class="green" data-color="#badc58" data-pic="url(2.png)"></span>
                    <span class="yellow" data-color="#f9ca24" data-pic="url(3.png)"></span>
                    <span class="rose" data-color="#ff7979" data-pic="url(4.png)"></span>
                  </div>
                  <div class="product-info">
                    <div class="product-price">$55</div>
                    <a href="mailto:Thenilebrand@gmail.com?subject=Hello%20there&body=Is%20African%20Map%20Printed%20Poster%20Available?" class="product-button">Email me</a>
                  </div>
                <h3> Description</h3>
                <p>Color	Cotton Blended Canvas  <br>
                  Map Type	Topographic, Global, African World <br>
                  Sheet Size	24 x 37 inches <br>
                  Item Weight	4 Ounces <br>
                  37.7H x 24W <br>
                  380 gsm Cotton Blend Canvas (archival quality)


                </p>
              </div>
            </div>
        </div>
         <div class="box4">
                      <div class="product-card">
                        <div class="productbox">
                        <h1 style="text-align:center">Best Shoes</h1>
                        <div class="product-pic4"></div>
                        <div class="product-colors">
                          <span class="blue active" data-color="#7ed6df" data-pic="url(1.png)"></span>
                          <span class="green" data-color="#badc58" data-pic="url(2.png)"></span>
                          <span class="yellow" data-color="#f9ca24" data-pic="url(3.png)"></span>
                          <span class="rose" data-color="#ff7979" data-pic="url(4.png)"></span>
                        </div>
                        <div class="product-info">
                          <div class="product-price">$40</div>
                          <a href="mailto:Thenilebrand@gmail.com?subject=Hello%20there&body=Is%20Best%20Shoes%20Available?" class="product-button">Email me</a>
                        </div>
                      <h2> Description</h2>
                      <p>16 inch chain + 6 inch extension (22 inches total) | 41-56 CM.  <br>
                        Material: Premium Stainless Steel, dipped in real 18 Karat Gold  <br>
                        Hypoallergenic | Sensitive Skin-Friendly <br>
                        Waterproof | Keep it on in the shower Lifetime Warranty against all rust or tarnish <br>
                        Packaging: Nominal Velvet Drawstring Pouch <br>

                      </p>
                      </div>
                    </div>
                          </div>
                              </div>
                              <div class="rangeenbox">
                                <h2>Shopping Details</h2>
                                <p>
                                  All Jewelry is proudly shipped out within 2-4 business days. <br>
                                  All legible items have a No-Hassle 60-Day Return Policy. <br>
                                   Items under $10 cannot be returned or exchanged. <br>
                                  </p>
                              </div>
                            </div>
        </div>
  </section>
  </main>


    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Newsletter</h2>
          <p>For Receiving regular updates subscribe to the Newsletter</p>
        </div>

          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your Email">
            </div>
            <div class="col-auto">
              <button type="submit">Subscribe</button>
            </div>
          </div>

      </div>
    </section>



    {% endblock content %}
